@model IEnumerable<EmployeeListVM>

@{
    ViewData["Title"] = "Employees";
}

<h1>Employees</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => employee.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => employee.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => employee.Email)
                </td>
                <td>
                    <a asp-action="Details" class="btn btn-primary" asp-route-userId="@employee.Id">View Allocations</a>
                </td>
            </tr>
        }
    </tbody>
</table>
